<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/test.css">
    <script src="https://use.fontawesome.com/ed62a54d4b.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/parsescript.js"></script>
    <% include ../views/common/css %>
    <style type="text/css">
    td
    {
      padding:0 40px 0 40px;
    }
    </style>
    
</head>
<body>

<div class="container">

    <% include ../views/common/header %>

    <div class="row">
        <div class="col-sm-12">
              <div class="well">
                  <h3><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload Zip File:</h3>
                  <span>
                    <table>
                      <tr>
                          <td>
                            <form action = "/<%= TENANT_ID%>/grading" method = "POST" enctype = "multipart/form-data">
                             <input type="file" name="file" size="50" />
                             <br />
                             <input type = "submit" value= "Unzip File" />
                           </form>
                         </td>
                          <td>
                             <br />
                             <br />
                            <button class="parse">Parse</button>
                          </td>
                      </tr>
                    </table>
                  </span>
              </div>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3><i class="fa fa-file-image-o" aria-hidden="true"></i> Result:<img src="images/loading.gif" height="50" width="50" id="img" style="display:none"/ ></h3>
                  <img  id="parsingResult" class="img-responsive" alt="There is error with your parser" style="display:none" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Grading:</h3>
                  <table>
                      <form method="POST" action="/Kang/persitgrade">
                            <tr>
                                <td>Test</td>
                                <% if (isFeatureEnabled('SCALE')) { %>
                                  <td>Scale</td>
                                <% } %>
                                <% if (isFeatureEnabled('POINT')) { %>
                                  <td>Point</td>
                                <% } %>
                                <% if (isFeatureEnabled('CNC')) { %>
                                  <td>Complete</td>
                                <% } %>
                                <% if (isFeatureEnabled('COMMENTS')) { %>
                                  <td>Comments</td>
                                <% } %>
                            </tr>
                            <tr>
                                <td><input type="textbox" name="grade" required></td>

                                <% if (isFeatureEnabled('SCALE')) { %>
                                  <td><input type="textbox" name="grade" required></td>
                                <% } %>
                              <% if (isFeatureEnabled('POINT')) { %>
                                <td><input type="textbox" name="grade" required></td>
                              <% } %>
                              <% if (isFeatureEnabled('CNC')) { %>
                                <td><label class="switch">
                                      <input type="checkbox" name="grade" required>
                                      <div class="slider round"></div>
                                    </label>
                                </td>
                              <% } %>
                              <% if (isFeatureEnabled('COMMENTS')) { %>
                                <td><textarea placeholder="Enter your comments..." name="grade" required ></textarea></td>
                              <% } %>
                          </tr>
                          <tr>
                            <td  colspan="2">
                              <button type='submit'>Save</button>
                            </td>
                          </tr>
                    </form>
                  </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
