<!-- main app container -->
<div class="text-center">
    <alert></alert>
</div>

<div class='main'>
    <router-outlet></router-outlet>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2017 - Site Built By
            <a href="#" target="_blank" >5VietGuys</a>
        </p>

        <a href="https://github.com/tuanungquoc/cmpe280-project.git" class="navbar-btn btn-danger btn pull-right">
            <span class="glyphicon glyphicon-star"></span>  Fork on Github</a>
    </div>


</div>